<div class="row" id = "<%=elementID%>">
    <div class="col-md-12 master"><%= name%>
        <button id = "delete_<%=elementID%>"  type="button" class="btn btn-lg pull-right close" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
    </div>
</div>