body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0%;
    background: black;
}

/*#canvasHolder {*/
    /*position: absolute;*/
    /*top: 6%;*/
    /*width: 100%;*/
    /*height: 93%;*/
    /*margin: 0%;*/
    /*left: 0%;*/
/*}*/

#netsblox {
    position: absolute;
    width: 99.5%;
    left: .25%;
    height: 100%;
}

.c2stemtab {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 93%;
    margin: 0%;
    left: 0%;
    background: black;
}



