/*body {*/
/*height: 100%;*/
/*width: 100%;*/
/*overflow: auto;*/
/*margin: 0%;*/
/*background: black;*/
/*}*/

/*!*#canvasHolder {*!*/
/*!*position: absolute;*!*/
/*!*top: 6%;*!*/
/*!*width: 100%;*!*/
/*!*height: 93%;*!*/
/*!*margin: 0%;*!*/
/*!*left: 0%;*!*/
/*!*}*!*/

/*.c2stemtab {*/
/*position: absolute;*/
/*top: 6%;*/
/*width: 100%;*/
/*height: 93%;*/
/*margin: 0%;*/
/*left: 0%;*/
/*background: black;*/
/*}*/

#netsblox {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}

#conceptModelView {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#conceptModelBar {
    position: relative;
    left: 50%;
    display: inline-block;
}

#conceptModelPanel {
    display: none;
    background-color: #aaaaaa;
    height:390px;
    overflow: auto;
}

.glyphicon.glyphicon-collapse-up {
    font-size: 35px;
}

.glyphicon.glyphicon-collapse-down {
    font-size: 35px;
}

.row{
    margin-left: inherit;
    margin-right: inherit;
}

.panel{
    margin-top: 10px;
    margin-bottom: 10px;
}

.conceptPanelBody{
    height:280px;
    overflow: auto;
}

.agentButton{
    margin: 5px;
}

#btn_convert{
    margin-left: 15px;
    margin-top: 10px;
}
